**/__pycache__/
/.idea/
/__pycache__/
/modules/ekg_construction/__pycache__/
/pattern_encoders/__pycache__/
/modules/preprocessing/preprocessors/__pycache__/

!/output/.gitkeep
/output/

!/performance/.gitkeep
/performance/

!/raw_data/.gitkeep
/raw_data/

!/meta-output/.gitkeep
/meta-output/

/venv/
